html {
  background: black;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  display: flex;
  justify-content: center;
  color: red;
  margin: 2rem auto;
  font: georgia;
  font-size: 3rem;
  font-family: cursive;
}

.heading:hover {
  transform: rotate(-3deg);
}

.btn {
  display: flex;
  background-color: black;
  flex-direction: space-between;
  align-items: center;
  color: white;
  margin: 2rem;
  font-size: 1.5rem;
  border: 1px solid pink;
}

button {
  padding: 0;
}

img {
  width: 8rem;
  height: 8rem;
}

.selection {
  margin-right: 1rem;
}

#computerImage,
#userImage {
  display: none;
}

.btn:hover {
  transform: translateY(-4px);
  background-color: blueviolet;
}

.result {
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  color: white;
  font-style: italic;
  align-items: center;
}

.ends {
  display: flex;
  justify-content: space-between;
}

#verdict {
  display: flex;
  justify-content: center;
  margin: 3rem;
  font-size: 3rem;
  color: pink;
  font-style: italic;
}

.play-again {
  display: none;
}
#play-again {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  margin: 1rem;
  color: purple;
  margin: 0 auto;
  font-size: 2rem;
}

#play-again:hover {
  background-color: green;
}
